*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* start layout */
.container-1170{
    margin: 0px auto;
    max-width: 1170px;
}

.container-991{
    margin: 0px auto;
    max-width: 991px;
}

.row-navi{
    width: 100vw;
}

.col-navi{
    width: 100vw
}

.jumbotron-header{
    background-color: #B4D0E7;
    width: 100vw;
    padding-top: 80px;
}

.row{
    width: 100%;
    display: flex;
}

.col-70{
    width: 70%;
}

.col-30{
    width: 30%;
}

.btn{
    background-color: #0061FF;
    border: none;
    color: #fff;
    padding: 5px 12px;
}

a{
    text-decoration: none;
}

a:visited{
    color: #000;
}
/* end layout */
/* header content first part */
.content-navi{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
}

/* left content */
.content-left{
    width: calc(100% / 2);
    display: flex;
}

.navi-choice-left{
    margin-left: 25px;
}

.menu-left{
    margin-right: 30px;
}

.logo{
    margin-left: 25px;
}
/* end left contetn */
/* right content */
.content-right{
    display: flex;
    justify-content: flex-end;
    width: calc(100% / 2);
}

.menu-right{
    margin-right: 25px;
}

.btn-header{
    margin-right: 25px;
}
/* end right content */
/* end first part */

/* second part header */
h1{
    margin-bottom: 15px;
    font-size: 4rem;
    font-weight: 800;
}

.col-30 > p{
    margin: 40px 0px 30px 0px;
}

.btn-jumbotron{
    padding: 10px;
}

.col-30 > span{
    display: inline-block;
    margin: 30px 0px;
}

.down-arrow{
    margin: 30px 0px 10px 0px;
    font-size: 2.7rem;
}

.image-container{
    position: relative;
}

.jumbotron-img{
    position: absolute;
    top: 40px;
    width: 100%;
}