*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

span{
    display: block;
}
/* start layout */
.container-1170{
    margin: 0px auto;
    max-width: 1170px;
}

.container-991{
    margin: 0px auto;
    max-width: 991px;
}

.row-navi{
    width: 100vw;
}

.col-navi{
    position: fixed;
    z-index: 100;
    background-color: #fff;
    width: 100vw
}

.jumbotron-header{
    background-color: #B4D0E7;
    width: 100vw;
    padding-top: 80px;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-70-jumbo{
    width: 70%;
}

.col-30-jumbo{
    width: 30%;
}

.col-100{
    margin-top: 50px;
    width: 100%;
    border: solid 1px lightgray;
}


.col-60{
    width: 60%;
}

.col-40{
    width: 40%;
}

.btn{
    background-color: #0061FF;
    border: none;
    color: #fff;
    padding: 5px 12px;
}

.menu-left, .menu-right{
    text-decoration: none;
}

.menu-left, .menu-right:visited{
    color: #000;
}

.col-30{
    width: calc(100% / 3 - 30px);
}

.col-30-boreder{
    border: solid 1px lightgray;
}

.subsciprion-plan{
    text-align: center;
    border-bottom: solid 1px lightgray;
}


/* end layout */
/* header content first part */
.content-navi{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
}

/* left content */
.content-left{
    width: calc(100% / 2);
    display: flex;
}

.navi-choice-left{
    margin-left: 25px;
}

.menu-left{
    margin-right: 30px;
}

.logo{
    margin-left: 25px;
}
/* end left contetn */
/* right content */
.content-right{
    display: flex;
    justify-content: flex-end;
    width: calc(100% / 2);
}

.menu-right{
    margin-right: 25px;
}

.btn-header{
    margin-right: 25px;
}
/* end right content */
/* end first part */

/* second part header */
h1{
    margin-bottom: 15px;
    font-size: 4rem;
    font-weight: 800;
}

.col-30-jumbo > p{
    margin: 40px 0px 30px 0px;
}

.btn-jumbotron{
    padding: 10px;
}

.col-30-jumbo > span{
    display: inline-block;
    margin: 30px 0px;
}

.down-arrow{
    margin: 30px 0px 10px 0px;
    font-size: 2.7rem;
}

.image-container{
    position: relative;
}

.jumbotron-img{
    position: absolute;
    top: 40px;
    width: 100%;
}
/* end second part header */
/* end header */

/* main */

/*  cols 30 */
h2{
    margin-bottom: 50px;
    margin-top: 130px;
    font-size: 2.5rem;
}

.radio-check{
    margin: 50px 0px;
}

#fatturazione-anuale{
    margin-left: 50px;
}

ul li{
    list-style-type: none;
    font-size: 0.9rem;
}

.specs > h3{
    margin-bottom: 15px;
}

.price{
    margin-bottom: 8px;
    font-size: 0.9rem;
}

.specs{
    width: calc(100% - 40px);
    margin: 25px 15px;
    padding: 0px 15px;
}

.col-30-content{
    width: 100%;
}

.period{
    margin-bottom: 50px;
    color: #a7a7a7;
    font-size: 0.8rem;
}

.user-share{
    margin: 20px 0px;
    font-size: 0.9rem;
    font-weight: 300;
}

.text-user-share{
    width: 100%;
    margin-left: 5px;
}


.btn-try-period{
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
}

.fa-check{
    color: #0061FF;
}

hr{
    width: 55px;
    border-bottom: 2px;
    color: #a7a7a7;
    margin: 30px 0px 40px 0px;
}

li{
    display: flex;
    margin: 25px 0px;
    font-weight: 400;
}
/*  cols 100 */
.content-col-100{
    position: relative;
    margin-bottom: 60px;
}

.btn-service{
    position: absolute;
    top: 65px;
    right: 30px;
    padding: 10px 30px;
}

.subsciprion-plan-col-100{
    margin: 15px 0px;
}

.text-col-100{
    width: 65%;
    margin: 30px 30px;
}

.text-col-100 > h3{
    font-size: 1.6rem;
    margin-bottom: 17px;
}

.text-col-100 > h5{
    margin-bottom: 50px;
}

.text-col-100 > p{
    font-size: 0.9rem;
}
/* col 60 and 40 */

.row-60{
    margin-top: 120px;
}

.col-60 > img{
    width: 100%;
}

.content-col-40{
    margin: 65px;
}

.content-col-40 > h3{
    margin-bottom: 15px;
}

.content-col-40 > p{
    font-size: 0.9rem;
    font-weight: 400;
    color: #3d3d3d;
    margin-bottom: 30px;
}

.btn-partner{
    font-size: 0.9rem;
    padding: 10px 20px;
    border: 1px solid #3d3d3d;
    color: #3d3d3d;
    background-color: #fff;
}
/* second part main */
.content-col-30 > img{
    width: 100%;
}

.content-col-30 > h4{
    margin: 20px 0px;
    font-size: 1.2rem;
}

.content-col-30 > p{
    font-size: 0.9rem;
    font-weight: 400;
    color: #3d3d3d;
    margin-bottom: 30px;
}
/*  end second part main */